
*
{
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
    transition: 1s;
    text-decoration: none;
}
body
{
    overflow-x: hidden;
}
header
{
    background-attachment: fixed;
    height: 100vh;
    box-shadow: inset 0 -10em 100em rgb(0, 0, 0);
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -2;
    
}

#background video {
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    position: fixed;
} 
#navbar.sobre
{
    background-color: #001f3f;
}
#navbar ol a
{
    color: rgb(233, 233, 233);
}
#navbar ol a:hover
{
    color: rgb(255, 255, 255);
}
#navbar input
{
    position: absolute;
    right: 15vw;

    
}
#navbar.mapa
{
    background-color: #e17f08;
}



header #navbar
{
    align-items: center;
    z-index: 1000;
    font-size: 1.5em;
    position: fixed;
    display: flex;
    padding: 10px 2em;
    gap: 27vw;
    width: 100vw;
}
#navbar li
{
    display: flex;
    align-items: center;
    position: relative;
}
header h1
{
    padding: 2em auto;
    padding-left: 1em;
}
header nav ol
{
    
    padding: 20px 0;
    display: flex;
    gap: 1em;
    position: fixed;
    margin: 0 31vw;

}
#navbar ol li:first-child {
    background-color: #006993;
    border-radius: 10px ;
    border: 0.5px solid #014864;
    padding: 0 1em;
}


/* ------------------------------- barra de pesquisa -------------------------------- */

header input
{
    color: black;
    border-radius: 5px;
    width: 1.5vw;
    border: none;
    padding: 0.5em;
    opacity: 0;
    z-index: 2;
    cursor: pointer;

}
header input:focus-within
{
    opacity: 1;
    width: 15vw; 
    cursor: text;
}
.search
{
    position: absolute;
    width: 1em ;
    height: auto;
    right: 15vw;
    cursor: pointer;
}

#navbar ol li:not(:nth-child(1))::after {
    content: ""; /* Necessário para criar a linha */
    position: absolute; /* Para posicionar a linha */
    left: 0; /* Inicia à esquerda do item */
    bottom: -5px; /* Posição da linha em relação ao item */
    height: 2px; /* Altura da linha */
    background-color: #00bbff; /* Cor da linha */
    width: 0; /* Começa com largura 0 */
    transition: width 0.5s ease-out; /* Transição suave para a largura */
}

#navbar ol li:not(:nth-child(1)):hover::after {
    width: 100%; /* A linha se expande para 100% ao passar o mouse */
}


/* --------------------------------------------------- MAIN ---------------------------------------------------- */

main
{
    background-color: azure;
    height: 1000em;
}
main .sobre 
{
    height: 90vh;
    background-color: #9dafd2;
    padding: 2em;
    box-shadow: inset 0 0 15px black;
}
main .sobre .luffy
{
    right: 5vw;
    position: absolute;
    width: 37vw;
    height: auto;
    transform: scaleX(-1);
    animation: flutuar 2s ease-in-out infinite;
    transform: scaleX(-1);
    z-index:10;
    filter: drop-shadow( 3px 5px 20px #ffffff50);
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
        filter: drop-shadow( 3px 5px 15px #ffffff50);
    }
    50% {
        transform: translateY(-7px);
        filter: drop-shadow( 3px 5px 20px #ffffff50);
    }
    100% {
        transform: translateY(0); 
        filter: drop-shadow( 3px 5px 15px #ffffff50);
    }
}

.card
{
    padding: 2em;
    border-radius: 10px;
    margin: 2em 2em;
    margin-top: 4em;
    height: 70vh;
    width: 65vw;
    background-color: #001f3f;
    position: relative;
    transition: 2s;
    animation: entrarEsquerda 1.5s ease-out forwards 0.5s;
}

.sobre .card h2
{
    font-size: 2em;
    max-width: 20vw;
    border-bottom: 3px solid rgb(255, 255, 255);
    margin-bottom:0.5em ;
}
.sobre .card p
{
    font-size: 1.5em;
    max-width:49vw ;
    letter-spacing: 2px;
}
.sobre .card
{
    box-shadow: 0 0 10px black;
    border: 1px solid black;
}


main .mapa
{
    margin-top: 20em;
    border-top: 2px solid black;
    background-color: #3f2700 ;
    height: 90vh;
}
